<% provide(:title, "プロフィール編集") %>
<% provide(:button_text, "変更を保存する") %>
<% provide(:path, user_path) %>
<% provide(:partial, @partial) %>
<h1><%= @page_title %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render "#{yield(:partial)}" %>

    <!-- <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
    </div> -->

  </div>
</div>
