<%= provide(:title, "検索結果") %>

<h1>検索結果（<%= @microposts.count %>）</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
  </div>
</div>
