<%= provide(:title, "New Micropost") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <section class="micropost-form">
      <%= render "shared/micropost_form" %>
    </section>
  </div>
</div>
