<%= provide(:title, "Micropost") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="microposts">
     <%= render "micropost", micropost: @micropost %>
    </ul>
  </div>
</div>
