@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


// universal

body {
  padding-top: 60px;
  padding-bottom: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  text-height: 1
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
}

a {
  color: $gray-light;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 9px;
  padding-left: 10px;
  border-left: 1px solid $gray-medium-light;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

// font-awesome

.fa-white::before {
  color: $gray;
}

.fa-light-gray {
  color: $gray-light
}

.fa-yellow {
  color: yellow;
}

.fa-camera-retro {
  float: left;
  margin-top: 4px;
  margin-right: 10px;
  &:hover {
  color: white
  }
}

#fa-bell {
  font-size: 20px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    padding: 5px;
    &:hover {
      color: $gray-darker;
    }
  }
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {
      float: left;
      margin-right: 60px;
      padding-left: 15px;
    }
  }
}

// signup_page

.agreement {
  margin-top: 20px;
}

// slidebar

aside {
  section.user-info{
    height: 200px;
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.self-itroduction {
  margin-bottom: 20px;
  p {
    margin: auto;
  }
}


.gravatar {
  margin-right: 10px;
}

.gravatar_edit {
  height: auto;
  overflow: hidden;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

// ユーザー個別ページ

.stats {
  width: 100%;
  display: flex;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 0;
  .stat {
    padding: 0 10px;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    span {
      font-weight: bold;
    }
    &:hover {
      text-decoration: none;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

// errrors

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// remember_me

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// edit-form
.edit-form {
  .btn-danger {
    margin-top: 10px;
  }
}

// micropost-form
.micropost-form {
  margin-top: 50px;
}

// ユーザーindexページ

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

// search-form
.navbar-form {
  input {
    margin-bottom: auto;
  }
}

// microposts
.microposts {
  list-style: none;
  margin-top: 50px;
  padding: 0;
  li {
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .profile {
    height: 50px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .picture {
    display: block;
    width: 100%;
    padding: 5px 0;
  }
  p {
    font-size: 18px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
  }
}

.timestamp {
  color: $gray-light;
  display: block;
  margin-right: 10px;
}

// 写真一覧
#thumnails_tab {
  margin: 15px 0;
  .col-xs-4 {
    padding: 10px;
  }
  .thumnail {
  width: 100%;
  height: auto;
  }
}

// もっと見るリンク
#more_favorites_link, #more_microposts_link {
  display: block;
  text-align: center;
}

// notifications

.notifications {
  list-style: none;
  padding-top: 0;
  li {
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
